<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega Pizza</title>
    <link rel="icon" href="./icon/pizza_icon.png" type="image/x-icon">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="./css/swiper-bundle.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="./css/main.css">

    <!-- Swiper JavaScript-->
    <script src="./js/swiper-bundle.min.js" defer></script>

    <!-- JavaScript-->
    <script src="./js/main.js" defer></script>
</head>

<body>

    <header class="header">
        <div class="cart-icon"><a href="/cart">🛒</a></div>
        <h1 class="title">
            <a href="/">🍕Mega Pizza</a>
        </h1>
        <nav class="nav">
            <div class="nav__burger-btn">
                <div class="nav__burger"></div>
            </div>
        </nav>
    </header>

    <side class="nav-box">
        <div>
            <ul class="nav__login">
                <li class="nav__login-item"><a href="/signin" id="sign-in-link">🔓 Sign in</a></li>
                <li class="nav__login-item"><a href="/signup">👤 Sign up</a></li>
            </ul>
            <p class="online-order-btn">
                <a href="/cart">Order Now 🛒</a>
            </p>
            <ul class="nav__menu">
                <li class="nav__menu-item">
                    <a href="/pizza">
                        <span>🍕</span>
                        <span>Pizza<div class="nav__menu-icon"></div></span>
                    </a>
                </li>
                <li class="nav__menu-item">
                    <a href="/salad">
                        <span>🥗</span>
                        <span>Salads</span>
                    </a>
                </li>
                <li class="nav__menu-item">
                    <a href="/sides">
                        <span>🍗</span>
                        <span>Sides</span>

                    </a>
                </li>
                <li class="nav__menu-item">
                    <a href="/drink">
                        <span>🥤</span>
                        <span>Drinks</span>
                    </a>
                </li>
            </ul>
        </div>
        <ul class="nav__list">
            <li class="nav__list-item">
                <a href="/">Mock List 1</a>
                <a href="/">
                    <img src="./icon/greater.png" alt="" width="17px" height="17px">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/">Mock List 2</a>
                <a href="/">
                    <img src="./icon/greater.png" alt="" width="17px" height="17px">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/">Mock List 3</a>
                <a href="/">
                    <img src="./icon/greater.png" alt="" width="17px" height="17px">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/">Mock List 4</a>
                <a href="/">
                    <img src="./icon/greater.png" alt="" width="17px" height="17px">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/manage">Manage Users</a>
                <a href="/manage">
                    <img src="./icon/greater.png" alt="" width="17px" height="17px">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/order">Manage Orders</a>
                <a href="/order">
                    <img src="./icon/greater.png" alt="" width="17px" height="17px">
                </a>
            </li>
        </ul>
        <button type="button" class="nav-box-close">
        </button>
    </side>
    <div class="overlay"></div>


    <main class="main">
        <section class="section-banner">
            <div class="swiper mySwiper banner-wrapper">
                <div class="banner-swiper swiper-wrapper">
                    <div class="main__slide-item swiper-slide">
                        <img src="./img/banner1.jpg" alt="">
                    </div>
                    <div class="main__slide-item swiper-slide">
                        <img src="./img/banner2.jpg" alt="">
                    </div>
                    <div class="main__slide-item swiper-slide">
                        <img src="./img/banner3.jpg" alt="">
                    </div>
                    <div class="main__slide-item swiper-slide">
                        <img src="./img/banner4.jpg" alt="">
                    </div>
                    <div class="main__slide-item swiper-slide">
                        <img src="./img/banner5.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </section>

        <section class="section-content">
            <div class="content-box">
                <div class="content-grid">
                    <div class="grid-item">
                        <a href="/pizza">
                            <img src="./icon/pizza_grid.png" alt="" width="60px" height="50px">
                            <span>Pizza</span>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/salad">
                            <img src="./icon/salad_grid.png" alt="" width="60px" height="50px">
                            <span>Salads</span>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/sides">
                            <img src="./icon/chicken_grid.png" alt="" width="60px" height="50px">
                            <span>Sides</span>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/drink">
                            <img src="./icon/drink_grid.png" alt="" width="60px" height="50px">
                            <span>Drinks</span>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="https://goo.gl/maps/CnHXv3MAe4m8rLcL8">
                            <img src="./icon/location_grid.png" alt="" width="60px" height="50px">
                            <span>Location</span>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/">
                            <img src="./icon/git_grid.png" alt="" width="60px" height="50px">
                            <span>Github</span>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/">
                            <img src="./icon/insta_grid.png" alt="" width="60px" height="50px">
                            <span>Instagram</span>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/">
                            <img src="./icon/youtube_grid.png" alt="" width="60px" height="50px">
                            <span>Youtube</span>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/">
                            <img src="./icon/gmail_grid.png" alt="" width="60px" height="50px">
                            <span>Mail</span>
                        </a>
                    </div>
                </div>
                <div class="content-event">
                    <div class="event-item">
                        <a href="/">
                            <img src="./img/event.jpg" alt="">
                        </a>
                    </div>
                    <div class="event-item">
                        <a href="/">
                            <img src="./img/event2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="content-news">
                    <div class="news-box">
                        <h3>What's New!</h3>
                        <span><a href="/">more</a></span>
                        <p>Latest News from Mega Pizza</p>
                        <ul class="news-list">
                            <li class="news-item">
                                <a href="/">Mock news title 1 - 2023 May 01</a>
                            </li>
                            <li class="news-item">
                                <a href="/">Mock news title 2- 2023 June 01</a>
                            </li>
                            <li class="news-item">
                                <a href="/">Mock news title 3 - 2023 July 01</a>
                            </li>
                            <li class="news-item">
                                <a href="/">Mock news title 4 - 2023 Aug 01</a>
                            </li>
                            <li class="news-item">
                                <a href="/">Mock news title 5 - 2023 Sep 01</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


    </main>



    <footer class="footer">
        <section class="section-footer">
            <ul class="sns-list">
                <li class="sns-item">
                    <a href="/">
                        <img src="./img/git.png" alt="" width="25px" height="25px">
                    </a>
                </li>
                <li class="sns-item">
                    <a href="/">
                        <img src="./img/instagram.png" alt="" width="25px" height="25px">
                    </a>
                </li>
                <li class="sns-item">
                    <a href="/">
                        <img src="./img/youtube.png" alt="" width="25px" height="25px">
                    </a>
                </li>
                <li class="sns-item">
                    <a href="/">
                        <img src="./img/mail.png" alt="" width="30px" height="25px">
                    </a>
                </li>
            </ul>
            <div class="footer-info">
                <div class="footer-location">
                    <a href="https://goo.gl/maps/oBxApoC4NeaQGYjh6">
                        <img src="./img/location.png" alt="" width="25px" height="30px">
                    </a>
                    <address>
                        1760 Finch Ave East, Toronto <br> ON M2J 5G3, Canada
                    </address>
                </div>
                <p>Copyright &copy; 2023</p>
                <p>Hyunjin Shin All rights reserved</p>
            </div>
        </section>
    </footer>

</body>

</html>